# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
!mvnw
!mvnw.cmd

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# OS/System
.DS_Store
Thumbs.db